body {
  font-family: "Montserrat" !important;
  position: relative;
  height: 100vh;
}

.styledLabel {
  color: #572185;
  font-weight: 700;
}

@media (max-width: 768px) {
  body {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #videoSelector {
    height: 80% !important;
  }
}
